body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98AFC7;
    color: white;
    text-align: center;
    padding: 10px 20px;
    height: 60px;
    width: 100%; 
} 

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 5px 10px;
    text-align: center; 
    width: 100%;
    line-height: 60px;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 15px;
    font-weight: bold;
    border-radius: 5px;
}

nav a :hover, .active {
    background-color: white;
    color: #002a8d;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: underline;
    border-radius: 5px;
}

main {
    padding: 20px;
}

p {
    text-align: justify;
    max-width: 800px; 
    margin: auto; 
    line-height: 1.6;
}
.bold-text {
    font-weight: bold;

}
.intro h2 {
    color: #002a8d;
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.intro a {
    color: #002a8d;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.blue-link {
    color: blue;
    text-decoration: none; 
    font-weight: bold;
}

.blue-link:hover {
    text-decoration: underline; 

}
.biodata-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.biodata-table th, 
.biodata-table td {
    border: 1px solid black;
    padding: 10px;
}

.biodata-table th {
    text-align: center; 
    background-color: #002a8d;
    color: white;
}

.biodata-table td {
    text-align: left; 
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    text-align: left;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, 
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    background-color: #002a8d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    display: none;
}
.bold-text {
    font-weight: bold;
}
