
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E6E6FA;
    color: #333;
    padding-bottom: 60px;
}

:root {
    --main-color: #98AFC7;
    --hover-color: var(--main-color);
    --text-color: white;
}

.dark-mode {
    background-color: #222;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 20px;
    height: 80px;
}

.dark-mode header {
    background-color: #444;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
    color: #002a8d;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover, .active {
    background-color: var(--text-color);
    color: #98AFC7;
    text-decoration: underline;
}

.dark-mode nav a {
    color: white;
}

main {
    padding: 20px;
    margin-top: 80px;
}

p {
    text-align: justify;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

#toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #98AFC7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#toggle-mode:hover {
    background-color: #789;
}

@keyframes falling-star {
    from {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
    background-color: #FFE14C; 
    animation: falling-star 5s linear infinite;
}

#timeBox {
    background-color: white;
    color: #002a8d;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.dark-mode #timeBox {
    background-color: #333;
    color: white;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}
